doctype html
html
	head
		title DSTool
		link(rel='stylesheet', href='/stylesheets/style.css')
		block head
	body
		header
			div(id="header-content")
				a(id="tools-name" href="/") dspull
				nav
					a Module's base
					a Report a bug
				div
					a Language
					a Login
		block before_content
			-var main_class = 'content'
		main(class=main_class)
			block content
		footer 
			div(id="footer-content") DSTool Managment Interface
