body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 0;
}

header {
	background-color: #36c;
	color: #fff;
	display: flex;
	padding: 1em;
	flex-wrap: wrap;
	justify-content: center;
}

#header-content {
	display: flex;
	align-items: center;
	width: 960px;
}

#header-content a {
	color: #fff;
	padding: 0 1em;
	text-decoration: none;
}

#header-content div {
	margin-left: auto;
}


#header-content div {
	margin-left: auto;
}

#header-content #tools-name {
	font-size: 3em;
	padding-left: 0;
	padding-right: 1em;
}

.content {
	padding: 1em;
	margin: 0 auto;
	max-width: 960px;
}

.content-pull {
	padding: 1em;
}

footer {
	background-color: #eaecf0;
	padding: 1em 1em 5em;
	margin: 0 auto;
}

#footer-content {
	margin: 0 auto;
	max-width: 960px;
}